.catalogo{
    border: 1px solid red;
    width: 90vw;
    height: 90vh;
}


.card-computador {
    margin: 10px;
    border: 1px solid red;
    height: 40%;
    width: 30%;
}


/* .detalhes {
 height: 50%;
 width: 30%;
} */

.imagem {
    height: 90%;
    width: 70px;
}