.contato {
    position: relative;
    background-color: lightgray;
    border: 1px solid #3b8cbe;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    font-size: 1rem;
    border-radius: 0px;
    width: 80%;
    height: auto;
    margin: 0;
}

.contato i {

    font-size: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
    color: #3b8cbe;
}

.contato li {
    list-style-type: none;
    color: rgb(34, 34, 34);
}

.contato h2 {
    color: #ececec;
    background-color: #3b8cbe;
}

fieldset {
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-width: 30px;
}

fieldset textarea {
    border: 1px solid #3b8cbe;
    width: 50%;
    height: 200px;
}

fieldset textarea:focus {

    border: 3px solid #96E4FD;
}

.contatoArea {
    flex-direction: row;
}


.contatoArea a {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #3b8cbe;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
}

div.contato label {
    font-weight: bold;
}

div.contato input {

    height: 2rem;
    width: 50%;
    padding: 0.6rem;
    border: 2px solid #3b8cbe;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}


div.contato input:focus {

    border: 3px solid #96E4FD;

}

@media (max-width:600px) {
    .contato {
        width: auto;
        height: auto;
    }
}