.pagamento {
    /* background-color: lightgrey;
    border: 1px solid #3b8cbe;
    font-size: bold;
    font-size: 1rem;
    width: 70%; */
    display: flex;
    background-color: lightgrey;
    border: 1px solid #3b8cbe;
    font-weight: bold;
    font-size: 1rem;
    width: 70%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    align-items: center;


}

.pagamento h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.input-radio {
    height: 20px;
    width: 20px
}

.pagamento-pix {
    border: 2px solid #3b8cbe;
    border-radius: 5px;
    height: 50px;
    width: 90%;
}

.pagamento-pix p {
    border-top: 1px solid #3b8cbe;

}

.pagamento-pix img {
    width: 40px;
    height: 40px;
}

.pagamento-cartao {
    border: 2px solid #3b8cbe;
    border-radius: 5px;
    height: 50px;
    width: 90%;
}

.pagamento-cartao p {
    border-top: 1px solid #3b8cbe;
}

.pagamento-cartao-formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    width: 100%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

fieldset {
    border: 1px solid #3b8cbe;
    display: flex;
    gap: 20px;
    padding: 20px 0px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.pagamento-cartao-formulario input {
    /* height: 2rem; */
    width: 50%;
    padding: 0.6rem;
    border: 2px solid #3b8cbe;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-continuar {
    width: 50%;
    background-color: #3b8cbe;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-continuar:hover {
    background-color: #96E4FD;
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    width: 100%;
}