.main-revisao {
    background-color: #353535;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    min-height: 100vh;
    /* padding: 20px; */
    justify-content: center;
    align-content: center;
}

.rev-background {

    background-color: lightgray;
    padding-bottom: 20px;
    width: 100%;

}

.h1-rev {
    background-color: #3B8CBE;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}

.rev-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

/* cards padrão */
.rev-grid>div {
    border: 1px solid #7e9aab;
    background-color: lightgray;
    padding: 15px;
}

/* TOPO - ocupa tudo */
.inf-nf {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

/* endereço (esquerda) */
.end-envio {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

/* produtos ocupa esquerda inteira */
.rev-produto {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* forma pagamento esquerda */
.forma-pagamento {
    grid-column: 1 / 2;
}

/* botão finalizar esquerda */
.btn-finalizar-div {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    max-width: 500px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    gap: 10px;

}

/* SIDEBAR (igual Kabum) */
.resumo-compra {
    grid-column: 2 / 3;
    grid-row: 1 / 6;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btn-finalizar-compra {
    width: 200px;
    background-color: #006E1D;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-voltar-compra {

    width: 200px;
    background-color: #3B8CBE;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}


.btn-finalizar-compra:hover {
    background-color: #96E4FD;
}